@import "../reindeer/styles.css";

.multi-form td{vertical-align:top}
.v-app-loginpage .v-textfield {width: 100px;}
.v-caption {float: left;}
.home-banner {background-image:url("images/logo.jpg");background-repeat:no-repeat;}


.g-paginator .v-button-current {opacity:1}
.g-paginator .v-button-caption {color:#1B699F;font-weight:bold;padding:2px 5px;margin:2px 1px;line-height:24px;text-decoration:none;border:1px solid #999;-webkit-border-radius:3px;-moz-border-radius:3px}
.g-paginator .v-button-status .v-button-caption {border:none;cursor:default}
.g-paginator .v-button-current .v-button-caption {background-color:#666;color:#fff}
.g-paginator .v-button-first .v-button-caption {border:none;padding-left:18px;padding-right:4px;background:transparent url(images/control_start.png) no-repeat left center}
.g-paginator .v-button-previous .v-button-caption {border:none;padding-left:18px;padding-right:6px;background:transparent url(images/control_rewind.png) no-repeat left center}
.g-paginator .v-button-next .v-button-caption {border:none;padding-right:18px;padding-left:6px;background:transparent url(images/control_fastforward.png) no-repeat right center}
.g-paginator .v-button-last .v-button-caption {border:none;padding-right:18px;padding-left:4px;background:transparent url(images/control_end.png) no-repeat right center}

.g-paginator-mini .v-button-current {opacity:1}
.g-paginator-mini .v-button-caption {color:#1B699F;font-weight:bold;padding:2px 5px;margin:2px 1px;line-height:24px;text-decoration:none;border:1px solid #999;-webkit-border-radius:3px;-moz-border-radius:3px}
.g-paginator-mini .v-button-current .v-button-caption {background-color:#666;color:#fff}

.background-layout {
	display : block;
	background : url("images/login-background.png") center no-repeat;
	padding-top: 50px;
	margin: 0 auto;
}